body {
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 100);
    background-image: url('./src/captain.jpg');
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    color: #2186D8;
    margin-bottom: 20px;
}

.card {
    background-color: #F9FFA6;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: fit-content;
    min-width: 400px;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    text-align: left;
    position: relative;
}

.card-header {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #2186D8;
    border-bottom: 1px solid #e9ecef;
    padding-bottom: 10px;
}

.card-header-wrong {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #d82121;
    border-bottom: 1px solid #d82121;
    padding-bottom: 10px;
}

#newLabel {
    font-size: 0.8em;
    margin-bottom: 10px;
    color: #2186D8;
    padding-bottom: 10px;
    right: 0;
    position: absolute;
    padding-right: 20px;
    top: 20%;
}

.new {
    visibility: visible;
}

.old {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}

.card-body {
    color: #495057;
}

.card-body p {
    font-size: 1.2em;
    margin: 10px 0;
}

.card-body ul {
    list-style: none;
    padding: 0;
}

.card-body li {
    margin: 10px 0;
}

.card-body li strong {
    color: #007bff;
}
